.main {
	height: 100vh;
	width: 100%;
  }
  .slider1,
  .myslide1 {
	position: relative;
	width: 100%;
	height: 100%;
  }
  .myslide1 {
	overflow: hidden;
	
  }
  
  .myslide1::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
  }
  .myslide1 .image {
	height: 100%;
	width: 100%;
	object-fit: cover;


	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 30s;
  	animation-name: zoomin;
	animation-duration: 40s;
  }

  @-webkit-keyframes zoomin {
	from {transform: scale(1, 1);}
	to {transform: scale(1.3, 1.3);}
  }
  
  
  @keyframes zoomin {
	from {transform: scale(1, 1);}
	to {transform: scale(1.3, 1.3);}
  }


  .myslide1 .txt1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	z-index: 100;
  }
  .txt1 h1 {
	color: #fff;
	line-height: 1.5;
	font-weight: 700;
	font-family: "Poppins", Arial, sans-serif;
	font-size: 28px;
  }
  .txt1 p {
	font-size: 14px;
	line-height: 1.5;
	color: white;
	margin-bottom: 1rem;
	
  }
 .prev1, .next1{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 10px;
	margin-top: -22px;
	color: white;
	background-color: rgba(0,0,0,0.5);
	font-weight: bold;
	font-size: 25px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	z-index: 100;

  }
.prev1:hover, .next1:hover{
	background-color: black;
}
.next1{
	right: 0;
	border-radius: 3px 0 0 3px;
}

.dotsbox1{
	/* position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px; */
	/* cursor: pointer;
	z-index: 50; */
	position:absolute;
	bottom: 5%;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 100%;
	z-index: 50;
}
.dot1{
	width: 12px; 
	height: 12px;
	background: #fff;
	margin: 0 10px;
	border-radius: 50%;
	opacity: 0.3;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	border: 3px solid #bbb;
  	visibility: hidden;
	
}
/* /2 */

/* javascript */
.active, .dot1:hover{
	border-color:#28a745 ; 
    opacity: 0.7;
}


.dot1:hover{
	background: #28a745;
	opacity: 1;
}

@media screen and (max-width: 768px) {
	.prev1, .next1 {
	  visibility: hidden;
	}
	.dot1 {
	  visibility: visible;
	  
	}
  }

 


